@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
   font-family: 'Inter', sans-serif;
   font-size: 16px;
   background-color: #a1c3ff
}

h1,h2{
    margin-bottom: 15px;
}

.container{
    max-width: 1100px;
    margin: 30px auto;
}

.title{
    text-align: center;
}

.contain{
    margin-top: 5%;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
}

.input-section{
    flex: 4;
    width: 100%;
}

.input-area{
    width: 100%;
}

.btn-section{
    flex: 2;
    display: grid;
    place-items: center;
}

.btn-section button{
    padding: 10px;
}

.display-section{
    flex: 4;
    min-height: 270px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    overflow: scroll;
}

.display-section p{
    max-width: 400px;
   
    overflow: scroll;
    
}
