@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
   font-family: 'Inter', sans-serif;
   font-size: 16px;
   background-color: #7a88b1
}

h1,h2{
    margin-bottom: 15px;
}

.container{
    max-width: 1100px;
    margin: 30px auto;
}

.title{
    text-align: center;
    color: white;
    text-transform: uppercase;
}

.contain{
    margin-top: 5%;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    
}

.input-section{
    flex: 4.5;
    height: 490px;
    width: 100%;
}

.input-area{
    padding: 10px;
    height: 100%;
    width: 100%;
}

.btn-section{
    flex: 1;
    display: grid;
    place-items: center;
}

.btn-section button{
    padding: 10px;
}

.display-section{
    flex: 4.5;
    background-color: white;
    border-radius: 4px;
    width: 100%;
    min-height: 500px;
    height: 500px;
    overflow: scroll;
    padding: 10px;
}

.display-section h4{
    margin-left: 10px;
}

.display-section .item{
    padding: 10px;
    margin: 10px;
}

.no-data{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}



@media (max-width: 991px){
    .contain{
        margin-top: 3%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
    }
}



