@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
   font-family: 'Inter', sans-serif;
   font-size: 16px;
   background-color: #a1c3ff
}

h1,h2{
    margin-bottom: 15px;
}

.container{
    max-width: 1100px;
    margin: 30px auto;
}

.title{
    text-align: center;
}

.contain{
    margin-top: 5%;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    
}

.input-section{
    flex: 4;
    height: 490px;
    width: 100%;
}

.input-area{
    height: 100%;
    width: 100%;
}

.btn-section{
    flex: 2;
    display: grid;
    place-items: center;
}

.btn-section button{
    padding: 10px;
}

.display-section{
    flex: 4;
    background-color: white;
    border-radius: 10px;
    width: 100%;
    height: 500px;
    overflow: scroll;
    padding: 10px;
}

.display-section .item{
    padding: 10px;
    margin: 10px;
}



@media (max-width: 991px){
    .contain{
        margin-top: 3%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
    }
}



